@media only screen and (max-width: 600px) {
    .contact, .carousel{
        display: none;
    }

    .logo {
        display: block;
        width: auto;
        margin: 0 auto;
    }

    li, a, button {
        font-family: "Roboto";
        font-weight: 500;
        font-size: 20px;
        color: white;
        text-decoration: none;
    }
    header {
        display: inherit;
        align-content: center;
    }
    .introImage {
        display: none;
    }

}